{% extends 'main.html' %}

{% block head_content %}
<title>The reverse job board for Django developers • Django devs</title>
<meta name="author" content="Tomaz Ovsenjak">
<meta name="keywords" content="djangodevs, django, django developers, django devs">
<meta name="description" content="The reverse job board for
Django developers. Djangodevs gives back the power to independent developers.
Let companies reach out to YOU and get your next gig quick.">
<meta property="og:type" content="website">
<meta property="og:title" content="The reverse job board for Django developers • Django devs">
<meta property="og:description" content="The reverse job board for
Django developers. Djangodevs gives back the power to independent developers.
Let companies reach out to YOU and get your next gig quick.">
<meta property="og:url" content="https://djangodevs.com/">
{% endblock head_content %}

{% block content %}


<!-- Main Section -->
<main class="formPage my-xl">
    {{user.email}}
</main>

{% endblock content %}