{% extends 'main.html' %}
{% block head_content %}
<title>Verify your email</title>
<meta name="author" content="Tomaz Ovsenjak">
<meta name="keywords" content="djangodevs, django, django developers, django devs">
<meta name="description" content="Verify your email">
<meta property="og:type" content="website">
<meta property="og:title" content="Verify your email">
<meta property="og:description" content="Verify your email">
<meta property="og:url" content="https://djangodevs.com/">
{% endblock head_content %}
{% block content %}


<!-- Main Section -->
<main class="formPage my-xl">
    <div class="inner-container">
        <div class="inbox">
            Please verify your account. Check your emails
            <div>If you did not get an email or something was wrong, please contact me at <a
                    href="mailto:support@djangodevs.com">support@djangodevs.com</a></div>
        </div>

    </div>
</main>

{% endblock content %}