{% load static %}
<div class="markdown-div">
    <img class="markdown-image" src={% static 'images/icons/info.svg' %} alt="">
    <div class="markdown-tooltip">
        <ul class="markdown-list">
            <li class="markdown-item"># Heading level 1</li>
            <li class="markdown-item">**<strong>bold text</strong>**</li>
            <li class="markdown-item">*<em>italic</em>*</li>
            <li class="markdown-item">* First item <br>
                * Second item
            </li>
            <li class="markdown-item"> More info on this <a target="_blank"
                    href="https://www.markdownguide.org/cheat-sheet/">page</a>
            </li>
        </ul>
    </div>
</div>